<section class="cookie-declaration">
    <p style="font-weight:400;font-size:1.05rem">This website uses cookies to offer a better user experience</p>
    <button style="background:#0066FF;color:#fff;border:1px solid #fff" type="button" class="btn">Dismiss</button>
</section>