
<div class="cookie-declaration">
    <p>We use cookies to help make our website as well as your expierence better. You can manage these cookies at any time from settings.</p>
  <div class="d-flex" style="gap:10px">
      <button type="button" class="btn btn-dark" onclick="dismissCookie()">Dismiss</button>
  </div>
</div>

  <script>
      const dismissCookie = ()=>{
          var element = document.querySelector('.cookie-declaration');
          element.style.display="none"
      }
  </script>