<div class="footer">
  <div class="container">
    <div class="footer-body">
        <div class="footer-sub-menu-candidates">
            <ul id="menu-footer-for-candidates" class="menu">
                <li><h5>For Candidates</h5></li>
                <li
                  id="menu-item-2843"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2843"
                >
                  <a href="/main/seejobs?q=&country=&sub_division=">Browse Jobs</a>
                </li>
                <li
                  id="menu-item-2846"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2846"
                >
                  <a href="#">My applications</a>
                </li>
                <li
                  id="menu-item-2848"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2848"
                >
                  <a href="/me/savedjobs">My Saved Jobs</a>
                </li>
            </ul>
        </div>
        <div class="footer-sub-menu-employers">
            <ul id="menu-footer-for-employers" class="menu">
                <li><h5>For Employers</h5></li>
                <li
                  id="menu-item-2861"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2861"
                >
                  <a href="/dashboard/applications">Browse Candidates</a>
                </li>
                <li
                  id="menu-item-2863"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2863"
                >
                  <a href="/dashboard/home">Employer Dashboard</a>
                </li>
                <li
                  id="menu-item-2862"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2862"
                >
                  <a href="/dashboard/listings">Add Job</a>
                </li>
            </ul> 
        </div>
        <div class="footer-sub-menu-other">
            <ul id="menu-footer-other" class="menu">
                <li><h5>Other</h5></li>
                <li
                  id="menu-item-2868"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2868"
                >
                  <a href="#">Blog</a>
                </li>
                <li
                  id="menu-item-2872"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2872"
                >
                  <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer-sub-menu-legal">
            <ul id="menu-legal" class="menu">
                <li><h5>Legal</h5></li>
                <li
                  id="menu-item-18929"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18929"
                >
                  <a href="/legal/privacy_policy">Privacy Policy</a>
                </li>
                <li
                  id="menu-item-18930"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18930"
                >
                  <a href="/legal/terms_of_service">Terms of Use</a>
                </li>
            </ul>
        </div>
        <div class="footer-sub-menu-subscribe">
            <img src="/images/logo.svg" alt="Intouch logo">
        </div>
    </div>
  </div>
</div>
