<nav>
  <a href="/main/home"><img src="/images/logo.svg" alt="Search your favourite career with intouch" />
  </a>
<div class="nav-links">
  <ul class="main-list">
    <li><a class="text-sm-white nav-link-hver" href='/main/seejobs?q=&country=&sub_division='>Browse jobs</a></li>
    <li><a class="text-sm-white nav-link-hver" href="/main/postajob/landing">Post a job</a></li>
    <li><a class="text-sm-white nav-link-hver" href="/resume/create/landing">Resume builder</a></li>
    <%- include('../components/buttons/get_started.ejs') -%>
  </ul>
</div>
<div class="menu-toggle">
  <span id="menu-top"></span>
  <span id="menu-txt">MENU</span>
  <span id="menu-btm"></span>
</div>
</nav>