<nav>
  <a href="/main/home"><img src="/images/logo.svg" alt="Search your favourite career with intouch" />
  </a>
<div class="nav-links">
  <ul class="main-list">
    <li><a class="text-sm-white nav-link-hver" href='/main/seejobs?q=&country=&sub_division='>Browse jobs</a></li>
    <li><a class="text-sm-white nav-link-hver" href="/main/postajob/landing">Post a job</a></li>
    <li><a class="text-sm-white nav-link-hver" href="/resume/create/landing">Resume builder</a></li>
    <li class="nav-social-links">
        <a href="#"><i class="text-sm-white fs-3 fa-brands fa-facebook"></i></a>
        <a href="#"><i class="text-sm-white fs-3 fa-brands fa-instagram"></i></a>
        <a href="#"><i class="text-sm-white fs-3 fa-brands fa-twitter"></i></a>
    </li>
  </ul>
</div>
<div class="menu-toggle">
  <span id="menu-top"></span>
  <span id="menu-txt">MENU</span>
  <span id="menu-btm"></span>
</div>
</nav>