  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active text-dark fs-3" aria-current="page" href="/main/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-3" aria-current="page" href="/main/seejobs?q=&country=&sub_division=">BROWSE JOBS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-3" href="/main/postajob/landing">POST A JOB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-3" href="/resume/create/templates">RESUME BUILDER</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark fs-3" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            COMPANY
          </a>
          <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <%-include( lgBtn ) %>
      </ul>
      
    </div>
  </div>