<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/searchstyles.css" />


    <!----Font Awesome CDN-->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!----Boot-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="/js/script.js" defer></script>
    <!--<script async src="//jsfiddle.net/user2314737/h3k1amhp/embed/" defer></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14" defer></script>
    <script type="module" src="/js/searchscripts.js" defer></script>
    <script src="/js/setSearch.js" defer></script>

    <title>Job | Search</title>
  </head>
  <body>
    <section class="search-header">
      <%-include( '../components/search_nav' ) -%>
    </section>
    <section class="search-page-body" id="searchBody">
      <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="filter-search-card">
                <span>Filter</span>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Location
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <div class="loc-type">
                          <span>Kingston</span>
                          <input type="radio">
                        </div>
                        <div class="loc-type">
                          <span>St. Andrew</span>
                          <input type="radio">
                        </div>
                        <div class="loc-type">
                          <span>Clarendon</span>
                          <input type="radio">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        Employment type
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <div class="emp-type">
                          <span>Full time</span>
                          <input type="radio">
                        </div>
                        <div class="emp-type">
                          <span>Part time</span>
                          <input type="radio">
                        </div>
                        <div class="emp-type">
                          <span>Seasonal</span>
                          <input type="radio">
                        </div>
                        <div class="emp-type">
                          <span>Contract</span>
                          <input type="radio">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        Salary
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <div class="sal-type">
                          <span>Disclosed</span>
                          <input type="radio">
                        </div>
                        <div class="sal-type">
                          <span>Undisclosed</span>
                          <input type="radio">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="job-display">
                
              
              </div>
              <div class="justify-content-center" id="loadingResultsProgress">
                <div class="d-grid w-100 g-2 h-100">
                  <div class="job-card-loader mb-3">
                    <div class="image-loader"></div>
                    <div class="jc-loader">
                      <span class="long-content-loader"></span>
                      <div class="short-loaders">
                        <span class="short-content-loader"></span>
                        <span class="short-content-loader"></span>
                      </div>
                      <span class="short-content-loader"></span>
                    </div>
                  </div>
                  <div class="job-card-loader mb-3">
                    <div class="image-loader"></div>
                    <div class="jc-loader">
                      <span class="long-content-loader"></span>
                      <div class="short-loaders">
                        <span class="short-content-loader"></span>
                        <span class="short-content-loader"></span>
                      </div>
                      <span class="short-content-loader"></span>
                    </div>
                  </div>
                  <div class="job-card-loader mb-3">
                    <div class="image-loader"></div>
                    <div class="jc-loader">
                      <span class="long-content-loader"></span>
                      <div class="short-loaders">
                        <span class="short-content-loader"></span>
                        <span class="short-content-loader"></span>
                      </div>
                      <span class="short-content-loader"></span>
                    </div>
                  </div>
                  <div class="job-card-loader">
                    <div class="image-loader"></div>
                    <div class="jc-loader">
                      <span class="long-content-loader"></span>
                      <div class="short-loaders">
                        <span class="short-content-loader"></span>
                        <span class="short-content-loader"></span>
                      </div>
                      <span class="short-content-loader"></span>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="get-updates-card">
                    <img src="../images/getupdatesill.svg" alt="Get updates from ">
                    <h2>Get updates on new jobs in this category</h2>
                    <button type="button" class="dark-btn"><i class="fas fa-bell"></i></button>
                </div>
                <div class="vertical-ad-space"></div>
            </div>
          </div>
      </div>
    </section>
    <div class="filter-toggle">
      <i class="fas fa-sliders-h"></i>
    </div>
    <div class="scroll-top-action">
      <i class="fas fa-chevron-up"></i>
    </div>
    <section class="footer">

    </section>
<!--Off Can-->
<%-include( '../components/side_nav' ) -%>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </html>
