:root{
    --s-loader-mx:30%;
    --l-loader-mx:65%;
    --loader-bg:rgb(235, 235, 235);
    --shrt-loader: loadShort;
    --delay:100ms;
    --prim-dark:#3F3D56;
    --secc-dark:#2B32B2;
}
*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    transition:0.2s ease-in-out;
}
.focus___overlay{
    height:100vh;
    width:100vw;
    background:rgba(0, 0, 0, 0.2);
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:fixed;
    display:none;
    z-index:3
}
.loader__overlay{
    height:100vh;
    width:100vw;
    position:fixed;
    z-index:99;
    background:#f44336;
    top:0;
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items:center;
    justify-content:center;
}
.loader__indicator{
    height:20px;
    width:12em;
    border-radius:10px;
    background:#fff
}
.active_nav__indicator{
    position:absolute;
    bottom:-10px;
    right:0px;
    left:0px;
    width:100%;
    height:3px;
    background:#f44336;
    border-radius:10px;
    display:none;
}
.loader  {
    animation: rotate 1s infinite;  
    height: 50px;
    width: 50px;
  }
  
  .loader:before,
  .loader:after {   
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;  
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;  
    background-color: #fff;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite; 
    background-color:var(--secc-dark);
    box-shadow: 30px 0 0 #97bf0d;
  }
  
  @keyframes rotate {
    0% { 
      -webkit-transform: rotate(0deg) scale(0.8); 
      -moz-transform: rotate(0deg) scale(0.8);
    }
    50% { 
      -webkit-transform: rotate(360deg) scale(1.2); 
      -moz-transform: rotate(360deg) scale(1.2);
    }
    100% { 
      -webkit-transform: rotate(720deg) scale(0.8); 
      -moz-transform: rotate(720deg) scale(0.8);
    }
  }
  
  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #f8b334;
    }
    50% {
      box-shadow: 0 0 0 #f8b334;
      margin-bottom: 0;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #f8b334;
      margin-bottom: 10px;
    }
  }
  
  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
      box-shadow: 0 0 0 #97bf0d;
      margin-top: -20px;
      -webkit-transform: translate(15px,15px);
      -moz-transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #97bf0d;
      margin-top: 0;
    }
  }
.indicator__bar{
    height:100%;
    width:20%;

}
.horizontal-ad-space{
    background:#333;
    position: fixed;
    bottom:0;
    left:10%;
    right:10%;
    height:120px;
    z-index:99;
    transition: 0.7s ease-in-out;
}
.vertical-ad-space{
    height:540px;
    width:100%;
    background:#333
}
.show-space{
    height:120px
}
.horizontal-top{
    top:0
}
.horizontal-bottom{
    bottom:0
}
nav{
    display:flex;
    align-items: center;
    padding:12px 15px;
    position:sticky;
    top:0;
    left:0;
    right:0;
    transition:0.3s ease-in-out;
    z-index:98;
    background:#fff;
    justify-content: flex-start;
    gap:45px;
}
.scroll-nav{
    position:fixed;
    z-index:99;
}

nav img{
    width:120px;
}
nav svg{
    width:20px;
}
.menu-toggle-search{
    display:block;
    margin-left:auto;
    cursor:pointer;
}
#menu-top,
#menu-btm {
  display: block;
  width: 45px;
  height: 3px;
  background: var(--secc-dark);
  transform-origin: center;
  transition: 0.4s ease-in-out;
}
#menu-txt {
  transition: 0.4s ease-in-out;
}
.search-field{
    border-radius:10px;
    width:100%;
    height:45px;
    background:#fff;
    display:grid;
    grid-template-columns:1fr;
    z-index:0;
    transition:0.1s ease-in-out;
    border-radius:10px 10px 0px 0px;
}
.search-input{
    width:100%;
    height:100%;
    position:relative;
    border-radius:10px 10px 0px 0px;
    border:1px solid #ddd
}
.career-search-auto-complete{
    position:absolute;
    max-height:240px;
    width:100%;
    background:#fff;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
    display:none;
    bottom:-4px;
    overflow-y: scroll;
    transition: 0.3s ease-in-out;
}
.career-search-auto-complete::-webkit-scrollbar{
    width:5px;
}
.career-search-auto-complete::-webkit-scrollbar-track{
  background:#ddd
}
.career-search-auto-complete::-webkit-scrollbar-thumb{
  background:var(--secc-dark)
}
.career-search-auto-complete > *, .search-field select option {
    display:flex;
    justify-content: space-between;
    font-size:1rem;
    color:#333;
    padding:12px 10px;
    border-bottom:0.5px solid #ddd;
}
.career-search-auto-complete > *:hover,  .search-field select option:hover{
  color:#fff;
  background:var(--secc-dark)
}
.search-field input{
    height:45px;
    width:100%;
    border:none;
    outline:none;
    font-size:1.1rem;
    font-weight:500;
    padding-left:45px;
    background:#fff url('/images/magnifier.png');
    background-size:1em;
    background-repeat: no-repeat;
    background-position: top 12px left 5px;
    border-radius:10px 0px 0px 10px;
}
.search-field select{
    border:none;
    outline:none;
    width:100%;
    height:45px;
    padding-left:45px;
    font-size:1.1rem;
    font-weight:500;
    border-left:0.5px solid #dddd;
    background:#ffff url('/images/locationPin.png');
    background-repeat: no-repeat;
    background-size:1.1em;
    background-position: top 12px left 5px;
    display:none;
}
.search-field button{
    height:45px;
    width:100%;
    font-size:1.1rem;
    background:#f44336;
    border:2px solid #fff;
    outline: none;
    color:#fff;
    cursor:pointer;
    border-radius:0px 0px 10px 10px;
    display:none;
}
.search-field button:hover{
    background:var(--secc-dark)
}


.search-header .search-field,.profile__header .search-field{
    width:40%;
    margin-right:auto;
}
.search-nav-links{
    display:flex;
    flex:1;
    gap:24px;
    align-items:center;
    text-decoration:none;
    margin-left:auto;
    justify-content:flex-end;
}
.search-nav-links > *{
    cursor:pointer
}
.single-menu,.search-dropdown-menu{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    gap:2px;
}

.search-dropdown-menu{
    position:relative;
}
.menu-options__display{
    position:absolute;
    width:340px;
    height:250px;
    background:#fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    bottom:-268px;
    right:20%;
    display:none;
    padding:20px 10px;
    border:0.3px solid #ddd;
}
.menu-options__display::before{
    content:'';
    position:inherit;
    display:block;
    height:20px;
    width:20px;
    border-bottom:20px solid #f44336;
    border-right:12px solid transparent;
    border-left:12px solid transparent;
    top:0;
    right:0%;
    transform:translate(0%,-100%);
}
.notif__display{
    position:fixed;
    left:0;
    right:0;
    top:-100vh;
    width:100vw;
    height:100vh;
    padding-top:90px;
    background:#fff;
    transition:0.4s ease-in-out;
}

.show__notif__display{
    top:0;
}

.notif__body{
    width:80%;
    height:100%;
    margin:0 auto;
    padding:40px 30px;
}
.__notif__holder{
    overflow-y:scroll;
    overflow-x:hidden;
    height:550px;
    width:90%;
    margin:0 auto;
    background:#fff;
    border:1px solid #ddd;
}
.__notif__holder::-webkit-scrollbar{
    width:8px;
}
.__notif__holder::-webkit-scrollbar-thumb{
    width:8px;
    background:#2B32B2;
    border-radius:15px;
}
.__notif__holder::-webkit-scrollbar-track{
    background:rgba(230, 230, 230, 0.5);
    border-radius:15px;
}
.__notif__holder > *{
    padding:10px 20px;
    background:#fff;
}
.__notif__holder > *:nth-child(even){
    border-top:0.7px solid #ddd;
    border-bottom:0.7px solid #ddd;
}

.__notif__card{
    transition:0.1s ease-in-out;
    cursor:pointer;
    height:130px;
    width:100;
    display:flex;
    align-items:center;
    gap:10px;
    position:relative
}
.__unread_notif{
    background:#f443361f;
}

.__notif__card .new__notif__ind{
    display:none
}
.__unread__notif .new__notif__ind{
    display:block
}
.__card__remove{
    animation:removeNotif 700ms linear forwards;
}
@keyframes removeNotif {
    0%{
        display:block;
    }
    25%{
        transform:translateX(25%);
    }
    50%{
        transform:translateX(50%);
        opacit:0.5;
    }
    75%{
        transform:translateX(75%);
        opacity:0.25
    }
    100%{
        display:none;
    }
}
.__notif__card i{
    display:none;
    transition:0.2s ease-in-out;
}
.__notif__card i:hover{
    padding:15px;
    background:#f44336;
    border-radius:50%;
    color:#fff;
}
.__notif__card:hover i{
    display:block;
}
.__unread_notif p{
    color:#f44336;
    font-weight:600;
}
.__notif__card a{
    padding:8px 16px;
    background:transparent;
    font-weight:500;
    border-radius:40px;
    text-decoration:none;
    border:1px solid var(--secc-dark);
    transition:0.2s ease-in-out;
}
.__notif__card a:hover{
    padding:8px 16px;
    background:var(--secc-dark);
    font-weight:500;
    border-radius:40px;
    text-decoration:none;
    border:1px solid var(--secc-dark);
    color:#fff
}
.__unread_notif a{
    border:1px solid #f44336;
    color:#f44336;
    font-weight:500;
    padding:8px 16px;
    border-radius:40px;
    text-decoration:none;
    transition:0.2s ease-in-out;
}
.__unread_notif:hover{
    border:1px solid #f44336
}
.__unread_notif a:hover{
    border:1px solid #f44336;
    color:#fff;
    background:#f44336;
    font-weight:500;
    padding:8px 16px;
    border-radius:40px;
    text-decoration:none;
}

.__notif__remove{
    position:absolute;
    top:5px;
    right:4px;
    cursor:pointer;
}

.search-page-body{
    height:fit-content;
    background:rgba(247, 247, 247, 0.76) url('/images/Sprinkle(2).svg');
    background-size:cover;
    background-position:center;
    width:100%;
    padding:20px 0;
}
.filter__body{
    height:60px;
    width:100%;
    background:#fff;
    display:flex;
    align-items:center;
    gap:20px;
    padding:0 20px;
}

.filter__option{
    padding:8px 15px;
    border:1px solid #fff;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:10px;
    background:#D5D3FF;
    color:#3E3BE8;
    position:relative;
}
.filter-list{
    list-style-type:none;
    display:flex;
    align-items: center;
    gap:10px;
}
.filter_option__menu{
    position:absolute;
    bottom:-180px;
    left:0px;
    width:300px;
    height:180px;
    background:#fff;
    border:1px solid #ddd;
    z-index:2;
    padding:20px 10px;
    display:none;
}
.filter_option__menu li{
    list-style-type:none;
    padding:4px 0;
}
.filter_option__menu li:nth-child(even){
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd
}
.__mobile{
    display:none
}
.act-btn,.dis-act-btn{
    padding:8px;
    border-radius:50%;
    border:0.5px solid #ddd;
    cursor:pointer;
}
.button-active{
    padding:8px;
    border-radius:50%;
    background:#f44336;
    color:#fff;
}
.result-banner{
    height:90px;
    width:100%;
    background:var(--secc-dark);
    position:sticky;
    top:0;
    left:0;
    right:0;
    padding:20px 10px;
    display:flex;
    justify-content:space-between;
    color:#fff;
    align-items: center;
}
.jobb-show-display,.empty-body{
    height:100%;
}
.job-show-banner{
    background:#fff;
    height:fit-content;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:20px 10px;
    position:sticky;
    top:45px;
    left:0;
    right:0;
}
.results-body,.job-show-body{
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.result-scroll-body,.job-show-scroll-body{
    height:520px;
    width:100%;

}
.result-scroll-body{
    height:638px;
}


.results-body::-webkit-scrollbar,.job-show-body::-webkit-scrollbar{
    width:7px;
    border-radius:10px
}
.results-body::-webkit-scrollbar-track,.job-show-body::-webkit-scrollbar-track{
    width:7px;
    border-radius:10px;
    background:rgb(248, 248, 248)
}
.results-body::-webkit-scrollbar-thumb,.job-show-body::-webkit-scrollbar-thumb{
    width:100%;
    border-radius:10px;
    background:#3E3BE8
}

.job-show__header_sec{
    display:flex;
    gap:6px;
}
.job-show__header_ter{
    display:flex;
    gap:15px;
}
.__section{
    padding:18px 5px;
    border-bottom:1px solid #ddd
}
.__section p{
   font-weight:400;
    line-height:1.5rem;
}
.job-display{
    padding:40px 0;
    width:98%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap:28px;
}
.job-card{
    padding:8px 12px;
    position:relative;
    display:grid;
    grid-template-columns: 1fr 6fr;
    background:#fff;
    border:0.5px solid #ddd;
    width:100%;
    min-height:110px;
    height:fit-content;
    gap:10px;
    cursor:pointer;
    transition:0.4s ease-in-out;
    z-index:0;
}
.job-card-content{
    width:100%;
}
.job-card:hover{
    border:2px solid var(--secc-dark)
}
.job-card .active{
    border:2px solid var(--secc-dark) 
}

.inline-ad-space{
    background:#ddd;
    width:100%;
    height:130px;
}
.job-card img{
    width:100%;
}
.job-card p{
    display:none;
    transition:0.4s ease-in-out
}
.job-rel-info{
    display:flex;
    align-items: center;
    gap:15px;
    margin:8px 0;
    color:var(--secc-dark)
}
.job-rel-info i{
    font-size:0.8rem;
    margin-right:8px;
}
.job-card .fa-chevron-double-right{
    color:var(--secc-dark);
    position:absolute;
    right:10px;
    bottom:5px;
    font-size:1.1rem;
}
.new-listing-ind{
    position:absolute;
    top:0;
    right:0;
    background:var(--secc-dark);
    color:#fff;
    padding:4px 8px;
    transition:0.5s ease-in-out;

}
.switch__outer{
    height:25px;
    width:50px;
    border-radius:50px;
    background:rgb(201, 200, 200);
    border:0.3px solid #333;
    display:flex;
    cursor:pointer;
    margin-left:auto;
}
.switch__inner{
    height:25px;
    width:25px;
    border-radius:50%;
    background:#333;
    transition:0.3s ease-in-out;
}
.toggled{
    background:#f44336;
}
.toggled .switch__inner{
    transform:translateX(25px);
    background:#fff;
    border:1px solid #f44336
}

#nav-search_button{
    display:none;
}

.application__area{
    height: 100vh;
    width:100vw;
    background:rgba(0, 0, 0, 0.5);
    /*position:fixed;*/
    top:0;
    left:0;
    right:0;
    z-index:99;
}
.application__submit{
    height:70%;
    width:90%;
    margin:10px auto;
}
.__submit_step{
    width:100%;
    height:100%;
    background:#fff;
    border-radius:5px;
    overflow-y:scroll;
}
.__step_header{
    border-bottom:0.8px solid #ddd
}
.__submit_step::-webkit-scrollbar{
    width:7px;
    border-radius:10px
}
.__submit_step::-webkit-scrollbar-trackk{
    width:7px;
    border-radius:10px;
    background:rgb(248, 248, 248)
}
.__submit_step::-webkit-scrollbar-thumb{
    width:100%;
    border-radius:10px;
    background:#ddd
}
.act__form{
    padding:25px 0;
    border-top:0.8px solid #ddd;
    width:100%;
}
.act__form p{
    font-size:0.8rem;
    font-weight:300;
}
.act___buttons{
    width:75%;
    display:flex;
    align-items:center;
    gap:10px;
    justify-content:center;
    margin:0 auto
}

.share__buttons{
    padding:20px 10px;
    border:0.4px solid #ddd;
    position:relative;
}
.share__buttons::before{
    content:'Share';
    background:#fff;
    padding:10px 15px;
    position:absolute;
    display:block;
    top:-30px;
    left:50%;
    transform:translateX(-50%);

}
.share__logo{
    width:40px;
    cursor:pointer;
}
.__copy_input_place{
    position:relative;
}
.copy__icon,.send_email__icon{
    position:absolute;
    top:50%;
    right:10px;
    transform:translateY(-50%);
    width:30px;
}
#shareUrlCopyInput,#sendEmailInput{
    padding-right:55px;
    background:#fff;
}

@media(max-width:1020px){
    .focus___overlay{
        height:100vh;
        width:100vw;
        background:rgba(0, 0, 0, 0.2);
        top:0;
        bottom:0;
        left:0;
        right:0;
    }
    .single-text{
        display:none;
    }
    #nav-search_button{
        display:block;
    }
    .menu-options__display{
        position:fixed;
        width:100vw;
        height:100vh;
        background:#fff;
        box-shadow:none;
        top:72px;
        left:0;
        right:0;
        z-index:99;
    }
    .open__dropdown{
        display:block
    }
    .menu-options__display::before{
        display:none;
        border:none;
    }
    .search-field{
        display:none;
        grid-template-columns:1fr;
        background:#fff;
        border-radius:10px;
        flex:1;
    }
    .search-field input{
        height:45px;
        background:transparent url('/images/magnifier.png');
        background-repeat: no-repeat;
        background-size:1.2rem;
        background-position:top 11px left 5px;
        z-index:0;
        border-radius:10px 10px 0px 0px
    }
    .search-field select{
        display:none;
        border:none;
        outline:none;
        padding-left: 45px;
        width:100%;
        height:45px;
        border-left:none;
        background:#ffff url('/images/locationPin.png');
        background-size:1.4rem;
        background-position:top 14px left 4px;
        background-repeat: no-repeat;
    }
    .search-field select option{
        padding-left:45px;
    }
    .search-field button{
        height:45px;
        width:100%;
        font-size:1.1rem;
        background:var(--secc-dark);
        border:2px solid var(--secc-dark);
        outline: none;
        border:none;
        color:#fff;
        cursor:pointer;
        border-radius: 0px 0px 10px 10px;
        display:none;
    }
    .search-page-body{
        padding:20px 0;
        transition:0.1s ease-in-out
    }
    .mod-offer-owner{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .job-card{
        grid-template-columns: 1fr 7fr;
    }
    .job-show-display{
        position:fixed;
        background:#fff;
        height:100vh;
        width:100vw;
        z-index:3;
        right:-100vw;
        top:70px;
        transition:0.4s ease-in-out;
    }
    .show-job-section{
        transform:translateX(-100vw);
    }
    .results-body,.job-show-body{
        height:100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .job-show-scroll-body{
        height:1200px
    }
    .job-show-banner{
        position:static
    }
    .job-show__header_sec{
        display:flex;
        flex-wrap: wrap;
        gap:6px;
    }
    .__mobile{
        display:block
    }
    .notif__body{
        width:100%;
        height:100%;
        margin:0 auto;
        padding:40px 8px;
    }
    .__notif__holder{
        overflow-y:scroll;
        height:100%;
        width:100%;
        margin:0 auto;
        border:none;
    }
    .filter-list{
        position:fixed;
        flex-direction: column;
        align-items:flex-start;
        padding:30px 10px;
        top:-100vh;
        left:0;
        height:100vh;
        width:100vw;
        z-index:99;
        background:#fff;
        transition:0.7s ease-in-out;
        overflow-y: scroll;
    }
    .filter-list li .dropdown, .filter-list .filter__option{
        width:100%;
        border-radius:0px;
        left:0;
        right:0;
    }
    .filter__option{
        position:static;
    }
    .filter_option__menu{
        width:90vw;
        border:none;
        position:static;
        display:block;
    }
    .filter-list .dropdown-menu{
        display:block;
        position:static;
        left:0;
        right:0;
        width:100%;
        border:none;
    }
    .show-filter-menu{
        transform: translateY(100vh);        
    }
    .application__submit{
        height:80%;
        width:100%;
        margin:10px auto;
    }
}