:root{
    --prim-dark:#3F3D56;
    --secc-dark:#2B32B2;
}

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    background:#333;
}
.cookie-declaration{
    position:fixed;
    bottom:0px;
    left:0%;
    right:0%;
    background:#fff;
    border-top:0.5px solid #ddd;
    color:#333;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 8px;
    z-index:1;
    transition:0.2s ease-in-out;
}
.horizontal-ad-space{
    background:#333;
    width:100%;
    height:0px;
    position: fixed;
    z-index:99;
    transition: 0.7s ease-in-out;
}
.show-space{
    height:120px
}
.horizontal-top{
    top:0
}
.horizontal-bottom{
    bottom:0
}

.home-header{
    height:100vh;
    left:0;
    right:0;
    background:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)) ,url('/images/home/heroBack.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    transition: 0.1s ease-in-out;
    position:relative;
}
.home-header svg{
    position:absolute;
    bottom:0;
    width: calc(100% + 1.3px);
}
nav{
    display:flex;
    gap:15px;
    align-items: center;
    padding:12px 15px;
    position:sticky;
    top:0;
    left:0;
    right:0;
    transition:0.3s ease-in-out;
    height:70px;
}
.scroll-nav{
    position:fixed;
    background:#fff;
    z-index:99;
}
nav img{
    width:120px;
}


.main-list{
    list-style-type:none;
    display:flex;
    align-items: center;
    justify-content:space-between;
    position:relative;
    gap:25px;
}
.nav-links ul li a{
    font-size:1.1rem;
    text-decoration:none;
    color:#fff;
}
.nav-link-hver::after{
    content:"";
    display: block;
    width:0%;
    height:2px;
    background:var(--secc-dark);
    margin:0 auto;
    transition: 0.4s ease-in-out;
}
.nav-link-hver:hover::after{
    width:100%;
}
  .nav-links .light-btn{
      padding:12px 20px;
      border:1px solid #fff;
      background:#f44336;
      color:#fff
  }
  .nav-links .dark-btn{
    padding:12px 20px;
    border:1px solid #fff;
    background:var(--secc-dark);
    color:#fff;
  }
.light-btn{
    padding:12px 20px;
    border:1px solid #fff;
    background:#f44336;
    color:#fff
}
.dark-btn{
  padding:12px 20px;
  border:1px solid #fff;
  background:var(--secc-dark);
  color:#fff;
}

.scroll-nav .nav-links ul li a{
    color:#333
}
.scroll-nav .nav-links .dark-btn{
    color:#fff;
}
.nav-social-links{
    display:flex;
    gap:15px;
    padding:5px 12px;
    border-left:1px solid #fff
}
  .menu-toggle {
    color: var(--prim-dark);
    margin-right: 0px;
    margin-left:auto;
    cursor: pointer;
    display:none;
  }
  #menu-top,
  #menu-btm {
    display: block;
    width: 45px;
    height: 3px;
    background: var(--secc-dark);
    transform-origin: center;
    transition: 0.4s ease-in-out;
  }
  #menu-txt {
    transition: 0.4s ease-in-out;
    color:var(--secc-dark)
  }
  .open-text {
    opacity: 0;
  }
  .open-top {
    transform: rotate(44deg) translateY(14px);
    width: 30px;
  }
  .open-bottom {
    transform: rotate(-44deg) translate(3px, -18px);
    width: 30px;
  }
.auth-btn{
    padding:12px 18px;
    border:1px solid #fff;
    border-radius:5px;
    text-decoration: none;
    font-weight:700;
    color:#fff;
    width:35%;
    background:var(--secc-dark);
    text-align:center;
}
.auth-btn:hover{
    color:#fff;
}
.user-actions{
    display:flex;
    align-items: center;
    gap:12px;
    margin:20px auto;
}
  .head-content{
   width:90%;
   margin:70px auto;
   display:flex;
   justify-content: space-between;
   align-items: center;
  }
  .head-text h1{
      font-size:3.5rem;
      color:#fff;
  }
  .head-text span{
      color:#f44336;
  }
  .head-text p{
      font-size:1.5rem;
      margin:25px 0;
      color:#fff;
  }
  .search-field{
      width:100%;
      height:50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index:0;
      transition:0.4s ease-in-out;
  }
  .search-input{
      width:100%;
      height:100%;
      position:relative;
  }
   .home-about{
      min-height:100vh;
      width:100%;
      padding:50px 20px;
      position:relative;
      background:#FF2323;
      color:#fff
  }
.about-key-points{
    width:90%;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height:200px;
    height:fit-content;
}
.about-key-points > * {
    width:90%;
    height:100%;
    margin:0 auto;
    background:transparent;
    text-align: center;
    padding:10px 5px;
    display:flex;
    flex-direction: column;
}
.about-key-points h3{
    font-size:1.4rem;
    margin:18px 0;
    text-align: left;
}
.about-key-points p{
    text-align: left;
    position:relative;
    padding-left:20px;

}
.about-key-points img{
    width:50%;
}
.about-key-points p::before{
    content:'';
    display:block;
    width:5px;
    height:6em;
    left:0;
    top:0;
    position: absolute;
    background:#fff;
    border-radius: 10px;
}
.home-job-near-you{
    min-height:100vh;
    width:100%;
    background:#fff url('/images/home/homejobsnearback.svg');
    background-position: bottom -2px left 0;
    background-size:100%;
    background-repeat:no-repeat;
    padding:70px 0;
    position:relative
}

.home-job-near-you svg{
    position:absolute;
    width:calc(100% + 2px);
    top:0;
    left:0;
    right:0
}
.home-job-near-you h2{
    text-align: center;
    font-size:2.5rem;
    color:var(--prim-dark);
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    width:70%;
    margin:0 auto;
}
.home-jobs-display{
    width:90%;
    margin:0 auto
}
.footer{
    height:fit-content;
    left:0;
    right:0;
    background:#FAFAFA;
    border-bottom:1px solid #ddd;
    padding:50px 20px;
}
.footer-body{
    display:flex;
    align-items:flex-start;
    gap:25px;
}
.footer-nav-links{
    display:flex;
    gap:40px;
}
.footer__employers ul, .footer__intouch ul{
    list-style-type:none;
}
.footer__employers ul li, .footer__intouch ul li{
    margin:6px 0;
}

.footer__employers ul li a, .footer__intouch ul li a{
    list-style-type:none;
    color:#333;
    text-decoration:none;

}

  @media(max-width:1020px) {
    .cookie-declaration{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items: center;
        padding:20px 8px;
        text-align:center;
    }
      nav{
          top:0;
      }
      .nav-links{
          position:fixed;
          height:100vh;
          width:100%;
          top:0;
          right:-100%;
          padding:50px 0;
          background:#f44336;
          transition:0.4s ease-in-out
      }
      .main-list{
          display:flex;
          flex-direction: column;
          align-items: start;
          justify-content:start;
          gap:25px;
          position:relative;
          height:100%;
      }
      .nav-links ul li a{
          font-size:2rem;
          text-transform: uppercase;
      }
      .nav-social-links{
        position:absolute;
        display:flex;
        gap:12px;
        bottom:8px;
        right:12px;
        width:fit-content;
    }

      .open-menu{
          transform:translateX(-100%);
          z-index:97;
      }
      #menu-txt{
          color:#fff;
      }
      .scroll-nav #menu-txt{
          color:#333
      }
      .scroll-nav #menu-top, .scroll-nav #menu-btm{
          background:#333;
      }
      .menu-toggle #menu-top, .menu-toggle #menu-btm{
          background:#333;
      }
      .menu-toggle{
          display:block;
          z-index:99;
      }
      .head-content{
          margin:30px auto;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap:25px;
      }
      .head-text{
            font-size:2.5rem;
            text-align: center;
      }
      .head-text h1{
          font-size:2.8rem;
          text-align: center;
          margin:10px auto;
      }
      .head-text p{
          font-size:1.2rem;
          margin:25px auto;
      }
      .head-ill{
          width:100%;
          display:flex;
          justify-content:center;
      }
      .head-ill img{
          width:60%;
          margin:0 auto
      }
    .home-about{
        height: fit-content;
        padding:80px 0;
    }
    .home-about h2{
        text-align: center;
    }
    .about-key-points{
        width:90%;
        margin:0 auto;
        grid-template-columns: 1fr;
        gap:30px;
    }
    .about-key-points > * {
        width:90%;
        height:fit-content;
        padding:30px 5px;
    }
    .about-key-points h3{
        font-size:1.2rem;
        margin:18px 0;
    }
    .footer-body{
        display:flex;
        align-items:flex-start;
        justify-content:center;
        flex-direction:column;
        gap:25px;
    }
    .footer-nav-links{
        display:flex;
        justify-content:center;
        gap:40px;
    }
    
 

  }