:root{
    --prim-dark:#3F3D56;
    --secc-dark:#3E3BE8;
    --main--accent:#f44336;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main{
    height:100vh;
    width:100%;
    position:relative;
    left:0;
    right:0;
    background: rgba(247, 247, 247, 0.76) url('../images/logintopBg.svg');
    background-size:100vw;
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    padding:100px 0;
}
.main h1{
    width:75%;
    font-size:3rem;
    color: var(--prim-dark);
    
}
.main img{
    width:75%;
    position:relative;
    z-index:3;
    transform: translateX(20%);
}

#visual{
    position:absolute;
    bottom:0%;
    left:0;
    right:0;
    width:100%;
    z-index:0;
}
.sign-up-form{
    position:relative;
    z-index:3;
}
.sign-up-form span{
    cursor:pointer;
}
.pass-req{
    font-size:0.8rem;
    color:var(--prim-dark);
    margin-right:7px;
}
.pass-req .met{
    color:var(--secc-dark)
}
.sendBtn, .sendLoginBtn{
    border:1px solid var(--prim-dark);
    padding:12px 22px;
    background:var(--prim-dark);
    color:#ffff;
    border-radius: 5px;
    transition:0.3s ease-in-out;
    width:fit-content;
    display:flex;
    align-items: center;
    gap:5px;
}
.sendBtn i, .sendLoginBtn i{
    display:none;
    transition:0.3s ease-in-out
}
.ready-send{
    background:var(--secc-dark);
    border:2px solid #fff;
}
.ready-send i{
    display:block;
    color:#fff;
}
.ready-send:hover{
    gap:10px;
}
.user-redirects{
    color:var(--prim-dark);
}
.user-redirects a{
    color:var(--secc-dark);
    text-decoration: none;
}
#formFeedBack{
    font-weight:600;
    color:#f44336;
}

.step__indicator{
    width:80%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:5px;
}

.indicator{
    height:45px;
    width:45px;
    border-radius:50%;;
    font-size:1.3rem;
    font-weight:600;
    border:0.8px solid #ddd;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.5s
}

.progress{
    height:2px;
    width:8em;
    background:#ddd;
    border-radius:3px;
}

.loader__bar{
    height:100%;
    width:0%;
    background:var(--secc-dark);
    animation:nextStep 0.2s linear forwards;
}

.__active_step{
    background:var(--secc-dark);
    color:#fff;
    border:none;
}

@keyframes nextStep {
    0%{
        width:0%
    }
    100%{
        width:100%
    }
    
}


@media(max-width:1020px){
    .main{
        padding:70px 0;
        min-height:100vh;
        height:fit-content;
    }
    .main h1{
        font-size:2.5rem;
        width:80%;
        margin:0 auto;
        text-align: center;
        z-index:3;
        position:relative;
    }
    .main img{
        width:50%;
        transform: translate(-50% , 0%);
        position:relative;
        left:50%;
        z-index:1;
    }
}
