<section class="resume-template" data-page-id="1" v-if="page.current === 1">
    <div class="template-header">
        <div class="template-inner">
            <div class="marker top"></div>
            <div class="marker-left"></div>
            <span style="text-transform:uppercase;font-size:1.2em;">{{userTitle.input}}</span>
            <h1 style="text-transform:uppercase;font-size:2.2em;">{{userName.input}}</h1>
            <div class="marker-right"></div>
            <div class="marker bottom"></div>
        </div>
    </div>
    <div class="template-body">
        <div class="profile">
            <div class="section-head">
                <h2 style="text-transform:uppercase;font-size:1.1rem;">Professional Profile</h2>
                <span class="underline"></span>
            </div>
            <div class="section-body">
                <p>{{userBio.input}}<p>
            </div>
        </div>
        <div class="skills_ed">
            <div class="column-1">
                <div class="section-head justify-right">
                    <h2 style="text-transform:uppercase;font-size:1rem;">Education</h2>
                    <span class="underline"></span>
                </div>
                <div class="section-body section-left">
                    <ul class="resume-list">
                        <li v-for="eduSet in education.entered">
                            <span>{{eduSet.start}} - {{eduSet.end}}</span>
                            <h5>{{eduSet.certification}}</h5>
                            <p>{{eduSet.school}}</p>    
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column-2">
                <div class="section-head justify-left">
                    <h2 style="text-transform:uppercase;font-size:1.1rem;">Skills</h2>
                    <span class="underline"></span>
                </div>
                <div class="section-body section-left">
                    <ul class="resume-list">
                        <li v-for="skill in skills.userSkills" :key="skill"><h6>{{ skill }} </h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="professional">
            <div class="section-head">
                <h2 style="text-transform:uppercase;font-size:1.1rem;">Professional Experience</h2>
                <span class="underline"></span>
            </div>
            <div class="section-body grid">
                <div class="experience" v-for="empSet in employment.entered" :key="empSet.id">
                    <h3 style="font-size:0.8rem;text-transform:uppercase">{{empSet.title}} | {{empSet.company}}</h3>
                    <span>{{empSet.start}} - {{empSet.end}}</span>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit blanditiis!</p>
                </div>
            </div>
         
        </div>
        <div class="contact-details">
            <div class="email-contact">
                <span>Email: {{contact.email}}</span>
            </div>
            <div class="address-contact">
                <span>Address: {{contact.address}}</span>
            </div>
            <div class="phone-contact">
                <span>Phone: {{contact.phone}}</span>
            </div>
        </div>
    </div>




</section>
<section class="resume-template" data-page-id="2" v-if="page.current === 2">
    <div class="references">
        <div class="section-head">
            <h2 style="text-transform:uppercase;font-size:1.1rem;">References</h2>
            <span class="underline"></span>
        </div>
        <div class="section-body grid">
            <div class="reference" style="width:100%" v-for="refSet in references.entered" :key="refSet.id">
                <ul class="resume-list">
                    <li><h5>{{refSet.name}}</h5></li>
                    <li><h6>{{refSet.title}}</h6></li>
                    <li>{{refSet.contact.email}}</listyle=>
                    <li>{{refSet.contact.phone}}</listyle=>    
                </ul>
            </div>
        </div>
     
    </div>
    <div class="languages" style="min-height:100px;">
        <div class="section-head">
            <h2 style="text-transform:uppercase;font-size:1.1rem;">Languages</h2>
            <span class="underline"></span>
        </div>
        <div class="section-body grid">
            <div class="reference" style="width:100%" v-for="lang in languages.userLanguages" :key="lang.id">
                <ul class="resume-list">
                    <li style="text-align:center">{{lang}}</li>
                </ul>
            </div>
        </div>
     
    </div>
    <div  class="charities" style="min-height:100px;">
        <div class="section-head">
            <h2 style="text-transform:uppercase;font-size:1.1rem;">Charities</h2>
            <span class="underline"></span>
        </div>
        <div class="section-body grid">
            <div class="reference" style="width:100%" v-for="charity in charities.entered" :key="char.id">
                <ul class="resume-list">
                    <li><h5>{{char.name}}</h5></li>
                    <li><h6>{{char.title}}</h6></li>
                    <li>{{char.contact.email}}</listyle=>
                    <li>{{char.contact.phone}}</listyle=>    
                </ul>
            </div>
        </div>
     
    </div>
</section>