    <a class="ms-2" style="width:fit-content;text-decoration:none;background:#2B32B2;color:#fff;padding:10px 16px;border-radius:8px;" id="gotoLogin" href="/user/login?sendTo=home">Log In</a>
    <a class="ms-2" id="gotoSignup" style="width:fit-content;text-decoration:none;background:#f44336;color:#fff;padding:10px 16px;border-radius:8px;" href="/user/register?sendTo=home">Sign up</a>
