<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <li data-navigation-value="home">
                <a href="/dashboard/home">
                    <i class="metismenu-icon pe-7s-rocket"></i>
                    Dashboard
                </a>
            </li>
            <li data-navigation-value="listings">
                <a href="/dashboard/listings" >
                    <i class="metismenu-icon pe-7s-display2"></i>
                    Job Listings
                </a>
            </li>
            <li data-navigation-value="applications">
                <a href="/dashboard/applications">
                    <i class="metismenu-icon pe-7s-file"></i>
                    Applications
                </a>
            </li>
            <li data-navigation-value="analytics">
                <a href="/dashboard/analytics">
                    <i class="metismenu-icon pe-7s-graph1"></i>
                    Analytics
                </a>
            </li>
            <li data-navigation-value="campaign">
                <a href="/dashboard/campaign">
                    <i class="metismenu-icon pe-7s-news-paper"></i>
                    Campaign
                </a>
            </li>
            <li data-navigation-value="settings">
                <a href="/dashboard/settings">
                    <i class="metismenu-icon pe-7s-config"></i>
                    Settings
                </a>
            </li>
            <li data-navigation-value="manage">
                <a href="/dashboard/manage/profile">
                    <i class="metismenu-icon pe-7s-id"></i>
                    Employer Profile
                </a>
            </li>
            <li data-navigation-value="support">
                <a href="/dashboard/support">
                    <i class="metismenu-icon pe-7s-headphones"></i>
                    Support
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
    window.addEventListener('load',()=>{
        var active_class = "mm-active"
        var path = window.location.pathname;
        var nav_menu = document.querySelector('.vertical-nav-menu');
        var list_item = nav_menu.querySelectorAll('li');
        var path_arr = path.split('/');
        var spec_path = path_arr[2];
        var sp_path2;
        if(path_arr.length > 2){
            sp_path2 = path_arr[3]
        }

        list_item.forEach((li)=>{
            var dt = li.getAttribute('data-navigation-value');
            var a = li.querySelector('a');
           if(dt !== null && dt !== undefined){
                if(dt.toLowerCase().includes(spec_path.toLowerCase()) || dt.toLowerCase().includes(sp_path2)){
                    a.className = active_class
                }
            }
      
        })
   
    })
</script>
  