:root{
    --prim-dark:#3F3D56;
    --secc-dark:#2B32B2;
    --main-accent:#f44336;
}

*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    box-sizing: border-box;
}
.paj-header{
    height:100vh;
    width:100%;
    background:var(--main-accent);
    position:relative;
    padding-bottom:90px;
}
nav{
    justify-content:space-between;
    z-index:99;
}
.paj-header h1{
    font-size:3.5rem;
    color:#fff
}

.paj-header p{
    font-size:1.5rem;
}

.__ill_display{
    position: relative;
    height:400px;
}

.gs_button{
    padding:12px 14px;
    background:#fff;
    color:var(--main-accent);
    text-decoration:none;
    transition:0.3s;
    font-size:1.1rem;
}

.gs_button:hover{
    background:var(--main-accent);
    border:1px solid #fff;
    color:#fff;
}

.paj-header svg{
    position:absolute;
    bottom:-10%;
    left:0;
    right:0;
}
.about__section{
    height:fit-content;
    width:100%;
    background:#fff;
    padding:70px 0;
}

.upsell{
    height:80vh;
    width:100%;
    background:#fff url('/images/vactor-6.png');
    background-size:20%;
    background-position:bottom 0 right 0;
    background-repeat:no-repeat;
    padding:50px 20px;
}
.upsell img{
    width:100%;
    margin:0 auto;
}


@media(max-width:1020px){
    .paj-header{
        min-height:100vh;
        height:fit-content;
    }
    .paj-header h1{
        font-size:3rem;
    }
    
    .paj-header p{
        font-size:1.2rem;
    }   
    .paj-header svg{
        position:absolute;
        bottom:-2%;
        left:0;
        right:0;
    }
    
}